.App {
  min-height: 100vh;
  /* background: #000; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticker-container {
  display: flex;
  flex-direction: column;
}

.enable-sound-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.enable-sound-button:hover {
  background-color: #0056b3;
}
